@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<nav class="navbar navbar-inverse navbar-fixed-top " style="margin-top:450px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Medical stores</a>
        </div>
        <div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#section1">Free delivery</a></li>
                    <li><a href="#section2">Delivery</a></li>
                    <li><a href="#section3"></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#section41">Section 4-1</a></li>
                            <li><a href="#section42">Section 4-2</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

    <div class="main-wrapper" style="margin-top:62px;">
        
        <div class="carousel slide" data-ride="carousel" id="main-carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#main-carousel" data-slide-to="1"></li>
                <li data-target="#main-carousel" data-slide-to="2"></li>
            </ol>
            <!-- Slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active" style="width:100%;height:400px;">
                    <img src="/images/12.jpg" />
                </div>
                <div class="item " style="width:100%;height:400px;">
                    
                    <img src="/images/34.jpg" />
                </div>
                <div class="item" style="width:100%;height:400px;">
                    
                    <img src="/images/slider3.jpg" />
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
                <span class="fa fa-arrow-left"></span>
            </a>
            <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
                <span class="fa fa-arrow-right"></span>
            </a>
        </div>
    </div>

       


   

    <div id="section1" class="container-fluid"
        <span class="glyphicons glyphicons-nearby-circle"></span>
    <h1>Free delivery </h1>
    <ul class="nav navbar-nav">
        <li><a href="#section1">Fazal Dins's pharmacy</a
><p>
    +92-42-37587246 <br /> Ferozepur Road, Ichhra, Lahore, PunjabPakistan. <br /> Tel:042-37587246 <br />
    Fax: <br /> Email: <br /> Website
</p></li>
        <li><a href="#section2">Clinics pharmacy</a>
        <p>
    +92-42-37587246 <br /> Ferozepur Road, Ichhra, Lahore, PunjabPakistan. <br /> Tel:042-37587246 <br />
    Fax: <br /> Email: <br /> Website
</p></li>
        <li>
            <a href="#section2">Mushtaq Medical Store - Lahore</a>
            <p>
                +92-42-37587246 <br /> Ferozepur Road, Ichhra, Lahore, PunjabPakistan. <br /> Tel:042-37587246 <br />
                Fax: <br /> Email: <br /> Website
            </p>
        </li>
        
        </ul>
    
        <ul class="nav navbar-nav">
            <li>
                <a href="#section1">Fazal Dins's pharmacy</a><p>
                    +92-42-37587246 <br /> Ferozepur Road, Ichhra, Lahore, PunjabPakistan. <br /> Tel:042-37587246 <br />
                    Fax: <br /> Email: <br /> Website
                </p>
            </li>
            <li>
                <a href="#section2">Clinics pharmacy</a>
                <p>
                    +92-42-37587246 <br /> Ferozepur Road, Ichhra, Lahore, PunjabPakistan. <br /> Tel:042-37587246 <br />
                    Fax: <br /> Email: <br /> Website
                </p>
            </li>
            <li>
                <a href="#section2">Mushtaq Medical Store - Lahore</a>
                <p>
                    +92-42-37587246 <br /> Ferozepur Road, Ichhra, Lahore, PunjabPakistan. <br /> Tel:042-37587246 <br />
                    Fax: <br /> Email: <br /> Website
                </p>
            </li>

        </ul>
</div>
    <div id="section2" class="container-fluid">
        <h1>Delivery</h1>
        <ul class="nav navbar-nav">
            <li><a href="#section1">Mahmoods pharmacy</a></li>
            <li><a href="#section2">Lims pharmacy</a></li>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
    <div id="section3" class="container-fluid">
        <h1>Section 3</h1>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    </div>
    <div id="section41" class="container-fluid">
        <h1>Section 4 Submenu 1</h1>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    </div>
    <div id="section42" class="container-fluid">
        <h1>Section 4 Submenu 2</h1>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    </div>



